*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;

    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-image: url(static/horiz1.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
    background-color :#080808;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 240px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
} 
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    color: #fff ;
    /* border:2px solid red; */
    margin-top: 20%;
    margin-left: 20px;
    font-size:30px
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    text-align: right;
    padding-right: 4vh;
}
.header-text h1 span{
    color:#ff004f
}
/* ---------about---------- */

#about{
    color: #ababab;
    min-height: 100vh;
}
.row{
    /* border:2px green solid; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    text-align: center;
    width:50%;
    /* border:2px red solid; */
    /* flex:1; */
}
.about-col2{
    text-align:left;
    width: auto;
    /* border:2px red solid; */
    flex:1;
}
.about-col1 img{
    width: 90%
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    padding: 0px
}
.tab-titles{
    display: flex;
    margin-top: 25px;
    text-align: center;
    /* border: 2px red solid; */
}
.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: .3s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents{
    padding-top: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
#red{
    color:#ff004f;
}

#date{
    padding-right:10px;
    text-align: right;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 18px;
}
.tab-contents ul li span span{
    text-align: right;
    color: #FFF;
    border: 2px red solid;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.notable-class{
    padding-left: 5px;
    font-size: 15px;
}

#contact-socials{
    min-height: 100vh;
}

.contact-socials-header{
    text-align: center;
    font-size: 60px;
}
.social-icons1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.github{
    text-align: right;
    width:50%;
    font-size: 25vh;
    padding-right: 10vh;
    /* border:2px red solid; */
    /* flex:1; */
}
.fab{
    color: #DADBDD;
}
.fa{
    color: #DADBDD;
}
.linkedin{
    text-align: left;
    width: auto;
    font-size:25vh;
    padding-left: 10vh;
    /* border:2px red solid; */
    flex:1;
}

/* SHANE ORIGINAL */
/* .resume{
    margin: auto;
    width: 25%;
    background-color: #ff004f;
    padding: 10px;
    margin-bottom: 80px;
    text-align: center;
    border-radius: 40px;
    border: 5px solid #ff004f;
} */

.resume{
    display: flex;
    justify-content: center;
    /* background-color: #ff004f; */
    padding: 10px;
    /* margin-bottom: 80px; */
    text-align: center;
    margin:auto;
    width: 25%;
    border-radius: 40px;
    border: 5px solid #ff004f;
}


.extraSpace{
    height: 80px;
}

#underline a{
    text-decoration: none;
    color: #DADBDD
}

#underline::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
} 


#underline:hover::after {
    width: 100%;
}

#underline {
    position: relative;
}

#underline:hover {
    cursor: pointer;
}

@media screen and (max-device-width: 800px) {
    .about-col1{
        text-align: center;
        width:0%;
        /* border:2px red solid; */
        /* flex:1; */
    }
    .github{
        text-align: right;
        width:50%;
        font-size: 15vh;
        padding-right: 10vh;
        /* border:2px red solid; */
        /* flex:1; */
    }
    .linkedin{
        text-align: left;
        width: auto;
        font-size:15vh;
        padding-left: 5vh;
        /* border:2px red solid; */
        flex:1;
    }
    .col1{
        width: 20%;
    }
}


/* Social Icons attempt #2 */

.social-icons2 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    padding-left: 4rem;
    /* border: 1px solid green; */
    margin-bottom: 15px;
}

h1{
    font-size: 25px;
    font-size: 2
}

.fa {
    font-size: 10vh;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.centering2 {
    display: flex;
    justify-content: center;
}






